*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #a6e56e, #6cb157);
}

.book{
    position: relative;
    width: 360px;
    height: 550px;
    perspective: 2000px;
}

.page{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d2b48c;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    transform-origin: left;
    transform: rotateY(0deg);
    transition: transform 1s ease;
    cursor: pointer;
    backface-visibility: hidden;
}

.page p, .page h1{
    color: #333;
    line-height: 1.7;
}

.bg-video {
    width: 300px;
    height: 180px;
}

.bg-video1 {
    width: 200px;
    height: 300px;
}
.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #df8d28, #bda285);
    color: white;
}

.cover h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.cover p{
    font-size: 0.9rem;
    opacity: 0.8;
}

.end{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.page.turned{
    transform: rotateY(-180deg);
}
